<!DOCTYPE html>
<html>
  <head>

  </head>
  <body ng-app="MyApp">
    <div class="container" ng-controller="PlaylistCtrl">
      <ul>
        <li ng-repeat="titulo in playlist"> {{titulo}} </li>
      </ul>
    </div>

    <div class="container" ng-controller="PlaylistMetodosCtrl">
      <ul>
        <li ng-repeat="titulo in playlist">
          {{titulo}}
          <a class="button" href="#" ng-click="borrar($index)">&times;</a>
        </li>
      </ul>
    </div>

    <script src="lib/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/Services/Playlist.js"></script>
    <script src="js/Controllers/PlaylistCtrl.js"></script>
    <script src="js/Controllers/PlaylistMetodosCtrl.js"></script>
  </body>
</html>
