<!DOCTYPE html>
<html ng-app="MyApp">
	<head>
		
	</head>
	<body>
		<script src="lib/angular.js"></script>
		<script>
			angular.module("MyApp", [])
			.controller("MyCtrl", function($scope){
				$scope.coincidencia = false;
				$scope.$watchGroup(['password','password2'], function(nuevos){
					if(!nuevos) return;
					if(nuevos[0] === nuevos[1]){
						$scope.coincidencia = true;
					}else{
						$scope.coincidencia = false;
					}
				})
			});
		</script>

		<div ng-controller="MyCtrl">
			<form action="#">
				Contraseña: <input type="password" ng-model="password"> <br/> <br/>
				Rectificar: <input type="password" ng-model="password2">
				<p ng-hide="coincidencia">Error: Las contraseñas no coinciden</p>
			</form>
		</div>
	</body>
</html>